## Produce daily Origin-Destination trip matrix for NYC Destination borough using csv generated by EDM

In [1]:
import pandas as pd
import numpy as np
import os
import time

In [2]:
from geo import stco,sub

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [9]:
df = pd.read_csv('../data/inflow_coxco.csv')

#cross check device count against EDM table
origin_fips = df['origin_fips'].unique().tolist()
origin_fips = pd.DataFrame(origin_fips,columns=['origin fips'])
origin_fips.to_csv('../data/inflow_unique-orig-fips.csv')

In [10]:
#id 31cr counties and all others outside
df['origin_fips_reg'] = df['origin_fips'] 
df.loc[~df['origin_fips_reg'].isin(stco),'origin_fips_reg'] = 'O31CR'

In [11]:
df.head()

,date_start,origin_fips,destination_fips,visits,device_counts,origin_fips_reg
0,2020-04-05,28089,36005,1,1417,O31CR
1,2020-04-05,25021,36061,4,587,O31CR
2,2020-04-05,27139,36005,1,554,O31CR
3,2020-04-05,13053,36081,1,127,O31CR
4,2020-04-05,36101,36047,1,34,O31CR

In [12]:
dff = pd.pivot_table(df,values=['visits'],index=['date_start','origin_fips_reg'],columns=['destination_fips'],aggfunc=np.sum,fill_value=0,margins=True)

In [13]:
dff.head(10)

                           visits
destination_fips            36005 36047 36061 36081 36085   All
date_start origin_fips_reg
2019-01-01 9001               608   497   922   623    22  2672
           9005                42    31   115    31     1   220
           9009               268   542   476   233     4  1523
           34003              591   602  2435   972    96  4696
           34013              474   861  1798   437   102  3672
           34017              422   703  2814   570   160  4669
           34019               10    25   112    19     7   173
           34021               43   109   229    68    30   479
           34023              193   644  1044   338   378  2597
           34025               85   427   646   151   565  1874

In [15]:
dff.to_excel('output/Inflows/Inflows_reg_coxco.xlsx')